---
---

@media screen and (orientation: portrait) {
	:root {
		--title-size: 10vw;
		--font-size: 5vw;
		--margin-size: 3vw;
		--page-offset: 20vw;
		--border-radius: 1vw;
		--icon-size: 5vw;
	}
}

@media screen and (orientation: landscape) {
	:root {
		--title-size: 10vh;
		--font-size: 5vh;
		--margin-size: 3vh;
		--page-offset: 20vh;
		--border-radius: 1vh;
		--icon-size: 5vh;
	}
}

/* 176vh is calculated by computing: 2 * --layer-size */
/*@media (max-width: 174vh) and (orientation: landscape) {
	:root {
	}
}*/

:root {
}

#match-title {
	font-size: var(--title-size);
}

#match-table {
	font-size: var(--font-size);
	width: 100%;
	margin-bottom: calc(var(--margin-size) * 5) !important;
	background-color: #f5ea74;
	box-shadow: calc(var(--margin-size) / 5) calc(var(--margin-size) / 5) var(--margin-size) grey;
}

#match-table th, #match-table td {
	text-align: center !important;
	vertical-align: middle;
	width: 25%;
}

#match-table td {
	border-top: 1px solid black !important;
}

#match-table th {
	position: sticky; top: 0;
	background-color: #74d1f5de;
	border-bottom: unset !important;
}

#match-table #total-scores {
	font-weight: bold;
	border-top: calc(var(--margin-size) * 0.2) solid black;
}



#rules-table {
	font-size: var(--font-size);
	width: 100%;
	margin-bottom: 0 !important;
	background-color: #f5ea74;
	box-shadow: calc(var(--margin-size) / 5) calc(var(--margin-size) / 5) var(--margin-size) grey;
}

#rules-table th, #rules-table td {
	text-align: center !important;
	vertical-align: middle;
	border-top: 1px solid black !important;
}

#rules-table th {
	background-color: #74d1f5de;
	border-bottom: unset !important;
	width: 40%;
}



#floating-toolbar {
	position: fixed;
	bottom: var(--margin-size);
	right: var(--margin-size);
}

#floating-toolbar .btn {
	font-size: var(--font-size);
	font-weight: bold;
	box-shadow: calc(var(--margin-size) / 5) calc(var(--margin-size) / 5) var(--margin-size) grey;
	box-shadow: calc(var(--margin-size) / 5) calc(var(--margin-size) / 5) var(--margin-size) grey;
	border-radius: var(--border-radius);
	background-color: #74d1f5 !important;
	margin-left: var(--margin-size);
}

#home-btn img {
	width: var(--icon-size);
	height: var(--icon-size);
}

#new-row-table {
	font-size: var(--font-size);
	width: 100%;
	margin: var(--margin-size) auto !important;
	background-color: #f5ea74;
}


#new-row-table th, #new-row-table td {
	text-align: center !important;
	vertical-align: middle;
	width: 25%;
	border: 1px solid black !important;
	border: unset !important;
}

#new-row-table th {
	position: sticky; top: 0;
	background-color: #74d1f5de;
}

.form-control.name {
	font-size: var(--font-size) !important;
	padding: var(--margin-size) calc(var(--margin-size) * 0.5) !important;
	height: calc(var(--font-size) * 2) !important;
	border-radius: 0 !important;
	border: 0 !important;
	text-align: center;
	box-shadow: unset !important;
	background-color: transparent;
}

.form-control.value {
	font-size: var(--font-size) !important;
	padding: var(--margin-size) calc(var(--margin-size) * 0.5) !important;
	/*height: calc(var(--font-size) * 2) !important;*/
	border-radius: 0 !important;
	border: 0 !important;
    margin: auto !important;
    width: 80%;
    height: 100%;
}

.sign-btn {
    width: 20%;
	height: 100%;
    margin: auto !important;
}

.sign-btn img {
	width: var(--icon-size);
	height: var(--icon-size);
}

.input-row {
	display: flex;
    width: 100% !important;
}

#new-row-modal .modal-body {
	text-align: right;
}

#new-row-modal #new-row-submit-btn {
	font-size: var(--font-size);
	font-weight: bold;
	background-color: #74d1f5 !important;
	border-radius: var(--border-radius);
	box-shadow: calc(var(--margin-size) / 5) calc(var(--margin-size) / 5) var(--margin-size) grey;
}

.delete-row-btn {
	position: absolute;
	left: auto;
	right: auto;
}